%h1 Stuffs


%table
  %tr
    %th name
    %th content
    %th date
    %th phone
    %th price
  - @stuffs.each do |stuff|
    %tr
      %td= stuff.name
      %td
        =text_area_tag :content, word_wrap(stuff.content, line_width: 8)
      %td= stuff.date
      %td= stuff.phone
      %td= stuff.price



